body{
    margin: 0%;

}
nav{
    height: 80px;
    background-color: #1bcfc9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.5;


}
nav a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12pt;
    text-decoration: none;
}
