body{
    margin: 0%;

}
nav{
    height: 80px;
    background-color: #6f7a8ad8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* opacity: 0.5; */


}
nav a{
    font-family: 'Montserrat', sans-serif;
    color: rgb(128, 0, 64);
    font-size: 12pt bolder;
    text-decoration: none;

    
}
nav a:hover{
    font-size: 16pt;
    color: white;
    opacity: none;
}
header{
    height: 900px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0.4; */
    flex-direction: column;
    /* opacity: 0.8; */
    
}
div h1{
    font-family: 'Archivo Black', sans-serif;
    color:rgb(128, 0, 64);
    font-size: 70pt;
    margin: 0;


}
div p{
    font-family: 'Karla', sans-serif;
    color: rgb(128, 0, 64);
    font-size: 30pt;

}
.caixa{
    height: 300px;
    width: 50%;
    background-color:#3a4b64d8;

}section{
    height: 800px;
    background-image: url("imagem/progeto.jpg");   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.profissional h2{
    font-family: 'Archivo Black', sans-serif;
    color:rgb(128, 0, 64);
    font-size: 40pt;



}
span{
    opacity: 0.8;
}

.profissional h3{
    font-family: 'Karla', sans-serif;
    color: rgb(128, 0, 64);
    font-size: 30pt;

}